@use "../abstracts/" as *;

.btn {
  border-style: none;
  @include dFlex($fd: row, $g: 8px);
  padding: 1%;
}

.btn {
  &--primary {
    background-color: #f0ea6e;
    @include font($ff: "RedRose");
    @include size($w: min(250px, 50%));
    > img {
      aspect-ratio: 1 / 1;
      width: min(40px, 20%);
    }
  }
  &--start-game {
    background-color: #f0ea6e;
    @include font($ff: "RedRose");
    @include size($w: min(100px, 70%));
    > img {
      aspect-ratio: 1 / 1;
      width: min(40px, 20%);
    }
  }

  &__exit {
    @include size($w: min(170px, 50%));
    padding: 0.5%;

    &::before {
      position: relative;
      top: 3px;
    }
    &--text {
      @include respond(m) {
        display: none;
      }
    }

    &--code {
      background-color: #86e9d633;
      border: 1px solid #4dd5bc;
      @include font($ff: "RedRose", $c: white, $fw: 700, $fs: clamp(1.125rem, 1.25rem, 1vw));
      &::before {
        content: url("/icons/exit.svg");
      }
    }

    &--game {
      background-color: #5f5875;
      border-radius: 10px;
      border: 2px solid #e71c4f;
      @include font($ff: "Orbitron", $c: white, $fw: 700, $fs: clamp(1.125rem, 1.25rem, 1vw));
      &::before {
        content: url("/icons/exit.svg");
      }
    }

    &--da {
      background-color: #bfe5f2;
      border-radius: 10px;
      @include font($ff: "Figtree", $c: #1e7594, $fw: 700, $fs: clamp(1.125rem, 1.25rem, 1vw));
      &::before {
        content: url("/icons/exit_blue.svg");
      }
    }

    &--food {
      background-color: #fff9f2;
      border: 3px solid #f3832d;
      border-radius: 10px;
      @include font($ff: "DeliusUnicase", $c: #f3832d, $fw: 700, $fs: clamp(1.125rem, 1.175rem, 1vw));
      &::before {
        content: url("/icons/exit_orange.svg");
      }
    }
  }

  &__home {
    padding: 1%;
    &::before {
      content: "Home";
      position: unset;
    }
    &--code::before {
      content: "Back to start";
    }
    &--food {
      color: white;
      background-color: #f3832d;
      box-shadow: 3px 3px 5px #00000033;
    }
  }

  &__restart {
    width: min(170px, 50%);
    &:before {
      padding: 4px 8px;
      content: " Restart Game";
      @include position($p: relative, $t: 50%, $l: 50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    &--code {
      background-color: #86e9d633;
      border: 1px solid #4dd5bc;
      @include font($ff: "RedRose", $c: white, $fw: 700);
    }

    &--game {
      background-color: #5f5875;
      border-radius: 10px;
      border: 2px solid #e71c4f;
      @include font($ff: "Orbitron", $c: white, $fw: 700);
    }

    &--da {
      background-color: #bfe5f2;
      border-radius: 10px;
      @include font($ff: "Figtree", $c: #1e7594, $fw: 700);
    }

    &--food {
      background-color: #fff9f2;
      border: 3px solid #f3832d;
      border-radius: 10px;
      @include font($ff: "DeliusUnicase", $c: #f3832d, $fw: 700);
    }
  }

  &__resume {
    @include size($w: min(200px, 60%));
    padding: 12px;
    @include respond(s) {
    width: 90% !important;
    }
    &--code {
      background-color: #66cfbc;
      border: 1px solid #4dd5bc;
      @include font( $ff: RedRose, $c: white, $fw: 700, $fs: clamp(1rem, 1.5rem, 1vw)
      );
      &::before {
        content: "Back to game";
      }
    }

    &--game {
      background-color: #ed1b76;
      border: 1px solid #e71c4f;
      border-radius: 10px;
      width: min(220px, 70%);
      @include font( $ff: Orbitron, $c: white, $fw: 700, $fs: clamp(1rem, 1.5rem, 1vw)
      );
      &::before {
        content: "No, back to game";
      }
    }

    &--da {
      background-color: #bfe5f2;
      border-radius: 10px;
      box-shadow: 3px 3px 5px #2f2e2e33;
      width: min(180px, 60%);
      @include font( $ff: Figtree, $c: #1e7594, $fw: 700, $fs: clamp(1rem, 1.5rem, 1vw)
      );
      &::before {
        content: "Back to game";
      }
    }

    &--food {
      width: min(270px, 80%);
      border-radius: 10px;
      background-color: #ffab3e;
      border: 3px solid #f3832d;
      @include font( $ff: DeliusUnicase, $c: white, $fw: 700, $fs: clamp(1rem, 1.5rem, 1vw)
      );
      &::before {
        content: "No, back to game";
      }
    }
  }

  &__end {
    @include size($w: min(190px, 60%));
    padding: 12px;
    @include respond(s) {
      width: 90% !important;
    }

    &--code {
      background-color: #eefcf9;
      border: 1px solid #4dd5bc;
      @include font( $ff: "RedRose", $c: #4dd5bc, $fw: 700, $fs: clamp(1rem, 1.5rem, 1vw)
      );
      &::before {
        content: "Exit game";
      }
    }

    &--game {
      background-color: #f0e4ef;
      border: 1px solid #e71c4f;
      border-radius: 10px;
      @include font( $ff: "Orbitron", $c: #ed1b76, $fw: 700, $fs: clamp(1rem, 1.5rem, 1vw)
      );
      &::before {
        content: "Yes, quit game";
      }
    }

    &--da {
      background-color: #fd8a81;
      border-radius: 10px;
      box-shadow: 3px 3px 5px #2f2e2e33;
      width: min(140px, 60%);
      @include font( $ff: Figtree, $c: white, $fw: 700, $fs: clamp(1rem, 1.5rem, 1vw)
      );
      &::before {
        content: "Exit game";
      }
    }

    &--food {
      width: min(170px, 70%);
      background-color: #fff9f2;
      border: 3px solid #f3832d;
      border-radius: 10px;
      @include font( $ff: DeliusUnicase, $c: #f3832d, $fw: 700, $fs: clamp(1rem, 1.5rem, 1vw)
      );
      &::before {
        content: "Exit game";
      }
    }
  }
}

.btn-group {
  @include dFlex($g: 8px);
  width: 100%;
}
