@use "./../abstracts/" as *;

.dialog {
  @include dFlex($g: 16px);
  @include size($w: 100%, $h: 100%);
  position: absolute;
  top: 0;
  border: unset;

  &__game-over {
    @include font($fs: clamp(2rem, 9rem, 16vw), $fw: 800);
    &--da {
      font-family: Figtree;
      color: #fd5b4f;
      text-shadow: 0 4px 4px #00000040;
    }
    &--game {
      font-family: Orbitron;
      color: #ed1b76;
    }
    &--code {
      font-family: RedRose;
      color: #4dd5bc;
      text-shadow: -7px 0 8px #4dd5bc80;
    }
    &--food {
      font-family: KleeOne;
      color: #ffffff;
    }
  }

  &__code {
    background-color: #303131;
    @include dFlex($g: 16px);
    @include size($w: 100%, $h: 100%);
  }

  &__game {
    background-color: #294f60;
    @include dFlex($g: 16px);
    @include size($w: 100%, $h: 100%);
  }

  &__da {
    background-color: #1e7594;
    @include dFlex($g: 16px);
    @include size($w: 100%, $h: 100%);
  }

  &__food {
    background-color: #f3832d;
    @include dFlex($g: 16px);
    @include size($w: 100%, $h: 100%);
    &--win{
      background-color: white;
    }
  }

}

b.player__counter {
  @include font($c: unset, $fs: clamp(1.5rem, 2rem, 3vw), $fw: 700, $lh: 100%);
  &--da {
    font-family: Figtree;
    font-size: clamp(1.5rem, 2rem, 2vw);
  }
  &--game {
    font-family: Orbitron;
    font-size: clamp(1.5rem, 2rem, 2vw);
  }
  &--code {
    font-family: RedRose;
    font-size: clamp(1.5rem, 2rem, 2vw);
  }
  &--food {
    font-family: RedRose;
    font-size: clamp(1.5rem, 2rem, 2vw);
  }
}

.winner {
  @include font($fw: 600, $c: unset, $fs: clamp(1.75rem, 4rem, 8vw) !important);
  &__blue {
    color: #2bb1ff !important;
    &--da {
      color: white !important;
    }
    &--food{
      color: #A45212 !important;
      font-family: KleeOne !important;
    }
    &--game{
      color: #2298DB !important;
      text-shadow: 4px 4px 4px #00000040;
    }
  }
  &__orange {
    color: #F58E39 !important;
    &--da {
      color: white !important;
    }
    &--food{
      color: #A45212 !important;
      font-weight: 600 !important;
      font-family: KleeOne !important;
    }
    &--game{
      color: #EA6900 !important;
      text-shadow: 4px 4px 4px #00000040;
    }
  }
  &__img{
        width: min(200px, 40%);
    height: auto;
  }
}

.subtext {
  @include font($c: white, $fs: clamp(1.175rem, 2rem, 2vw), $lh: 100%);
  &-da {
    font-family: Figtree;
    font-weight: 500;
  }
  &--game {
    font-family: Orbitron;
  }
  &--code {
    font-family: RedRose;
  }
  &--food {
    font-family: KleeOne;
    color: #A45212;
  }
}



.draw{
  text-align: center;
  &--code {
      @include font($ff: "RedRose", $c: white, $fw: 700, $fs:clamp(1.5rem, 3rem, 4vw));
    }

    &--game {
      @include font($ff: "Orbitron", $c: #e71c4f, $fw: 700, $fs:clamp(1.5rem, 3rem, 4vw));
     
    }

    &--da {
      @include font($ff: "Figtree", $c: white, $fw: 700, $fs:clamp(1.5rem, 3rem, 4vw));
      
    }

    &--food {
      @include font($ff: "DeliusUnicase", $c: white, $fw: 700, $fs:clamp(1.5rem, 3rem, 4vw));
      
    }
}


