@use './../abstracts/' as *;

#board{
  height: 90%;

}

.board{
  height: 100%;
  &__code{
    background-color: #303131;
  }
  &__game{
    background-color: #294F60;
  }
  &__da, __food{
    background-color: white;
  }
}