@use "./../abstracts/" as *;

body:has(.hero){
    background-color: #303031;
}


.hero {
  height: 100%;
  @include dFlex();
  @include font();
 background-color: #303031 ;

}

.starting-screen {
  @include dFlex($g: 50%);
  @include size($w: min(800px, 90%));

&__headlines{
    @include dFlex($g: 20%, $ai: unset);
    
    &-eyebrow{
        @include font($c: white, $fw: 400, $fs: clamp(1.125rem, 2rem, 3vw), $lh: 100%);
    }
    &-h1{
        @include font($c: white, $fw: 700, $fs: clamp(2rem, 4rem, 7vw), $lh: 100%, $ff: "RedRose");

    }
}

}

.controller-hero{
    position: fixed;
    bottom: 0;
    left: max(0px, calc((100vw - 1920px) / 2));
    width: min(300px, 40vw);
    aspect-ratio: 1;
}
