@use "./../abstracts/" as *;

.settings {
  margin: 0 0 8px 0;
  @include respond(m) {
    margin: 0 0 4% 0;
  }
  &__headlines {
    @include dFlex($fd: unset, $jc: unset, $g: 16px);

    &:before {
      @include size($w: 20px, $h: 30px);
    }
    &-h1 {
      position: relative;
      display: inline-block;
      padding-bottom: 10px;

      @include font(
        $c: #303131,
        $fw: 700,
        $fs: clamp(3rem, 3.375rem, 5vw),
        $lh: 100%,
        $ff: "RedRose"
      );
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #f0ea6e;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 10px;
        height: 10px;
        background: #f0ea6e;
        transform: rotate(45deg);
      }
    }
    &-h2 {
      @include font(
        $c: #303131,
        $fw: 700,
        $fs: clamp(1.25rem, 1.5rem, 3vw),
        $lh: 100%,
        $ff: "Almarai"
      );
    }
    &--game {
      &:before {
        content: url("/icons/color-palette.svg");
      }
    }
    &--player {
      &:before {
        content: url("/icons/chess_pawn.svg");
      }
    }
    &--board {
      &:before {
        content: url("/icons/card_board.svg");
      }
    }
  }
  &__radio {
    @include dFlex($ai: unset, $g: 16px);
    margin: 0 0 24px 0;
  }

  &__inputs {
    @include dFlex($ai: unset, $jc: unset, $g: 8px);

    &-radio {
      @include dFlex($jc: unset, $fd: unset, $g: 8px);
      @include size($w: 400px, $h: 100%);
      @include font(
        $c: #303131,
        $fs: clamp(1rem, 1.25rem, 2vw),
        $ff: "Almarai"
      );
      @include respond(m) {
        width: 100%;
      }
    }
  }
}

.label {
  @include dFlex($fd: unset, $g: 8px);
  height: 32px;
  line-height: 100%;
  &--radio {
    &:hover {
      cursor: pointer;
      span {
        font-weight: 700;
      }
      span::after {
        content: url("/icons/line_wand.svg");
        filter: grayscale(0.5);
        position: relative;
        top: 3px;
        left: 4px;
      }
    }
    :checked + span {
      font-weight: 700;
      &::after {
        content: url("/icons/line_wand.svg");
        filter: grayscale(0) !important;
        position: relative;
        top: 3px;
        left: 4px;
      }
    }
  }

  @include respond(m) {
    height: 24px;
  }
}
