@use "../abstracts/" as *;

.settings__bar {
  @include dFlex($fd: unset, $jc: space-evenly, $g: 16px);
  @include size($w: 100%, $h: 80px);
  padding: 0 8px;
  background-color: #f6f6f6;
  &-list {
    @include dFlex($fd: unset);
    @include font();

    &-point {
      @include dFlex($fd: unset, $jc: start, $g: 8px);
      &:first-child {
        width: 110px;
      }
      width: 160px;
      &::marker {
        content: "";
      }
      &::before {
        background-repeat: no-repeat;
        background-size: contain;
      }
      &:nth-child(1):before {
        content: "";
      }
      &:nth-child(n + 2):before {
        content: "";
        background-image: url("/icons/line_stroke.svg");
        width: 32px;
        height: 54px;
      }
      &:nth-child(n + 2)[data-picked="true"]:before {
        content: "";
        background-image: url("/icons/line_wand_45deg.svg");
        width: 28px;
        height: 54px;
      }
    }

    @include respond(m) {
      flex-direction: column;
      gap: 8px;
    }
  }

  @include respond(m) {
    height: 100%;
    width: min(160px, 90%);
    padding: 8px;
  }

  @include respond(m) {
    flex-direction: column;
  }
}
