
@keyframes uncoverCard{
    0% {

    }

    50%{
        transform: scaleX(0);
    }

    100%{
        transform: scaleX(1);
    }
}


.flip {
    animation-name:  uncoverCard  ;
    animation-duration: .75s;
}