@use "variables" as *;


$breakpoints: (
    l: 991px,
    m: 768px,
    s: 480px,
);


$cover: (
  game: game,
  code: code,
  da: da,
  food: food
);


@mixin buttton($bgc: $color-primary) {
  background-color: $bgc;
}

@mixin size($h: auto, $w: auto) {
  height: $h;
  width: $w;
}

@mixin dFlex($d: flex, $jc: center, $ai: center, $fd: column, $g: 0) {
  display: $d;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $g;
}

@mixin font($ff: "Almarai", $c: black, $fs: clamp(1.125rem, 1.75rem, 1vw), $fw: 400, $lh: 120%) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  color: $c;
}

@mixin position($p: absolute, $t: unset, $r: unset, $b: unset, $l: unset) {
  position: $p;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin respond($size){
    @media screen and (max-width: map-get($breakpoints, $size)) {
        @content
    }
}

