@use "./../abstracts/" as *;

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  max-width: 1920px;
  margin-inline: auto;
  box-sizing: border-box;
}

body {
.page{
  &--game {
    background-color: #294f60;
    &::-webkit-scrollbar-thumb {
      background: #294f6080;
    }
  }

  &--code {
    background-color: #303131;
    &::-webkit-scrollbar-thumb {
      background: #30313180;
    }
  }

  &--da {
    background-color: white;
    &::-webkit-scrollbar-thumb {
      background: #1e759480;
    }
  }

  &--food {
    background-color: white;
    &::-webkit-scrollbar-thumb {
      background: #f3832d80;
    }
  }


  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
 &::-webkit-scrollbar-thumb  {
    border-radius: 10px;
  }
   &::-webkit-scrollbar-track  {
    border-radius: 10px;
  }
}
}

* {
  margin: 0;
  margin-block: 0;
  padding: 0;
}

input[type=radio]{
  appearance: none;
  background-image: url('./../../public/icons/checkbox_unchecked.svg');
  @include size($w:20px, $h: 20px);
  &:checked{
    background-image: url('./../../public/icons/checkbox_checked.svg');
  }
}

figure{
  margin-inline: 0;
}

a {
  text-decoration: none;
  &:hover{
    filter: brightness(1.2);
  }
}

span{
  &:hover{
    cursor: default;
  }
}

button {
  &:hover {
    filter: brightness(1.2);
    cursor: pointer;
    >span{
    filter: brightness(1.2);
    cursor: pointer;
  }
  }
  
  &:disabled{
    filter: grayscale(0.8);
    color: gray
  }
  &:disabled,:hover{
    cursor: default;
  }
}

