@use "./../abstracts/" as *;

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  max-width: 1920px;
  margin-inline: auto;
  box-sizing: border-box;
}

* {
  margin: 0;
  margin-block: 0;
  padding: 0;
}

input[type=radio]{
  appearance: none;
  background-image: url('./../../public/icons/checkbox_unchecked.svg');
  @include size($w:20px, $h: 20px);
  &:checked{
    background-image: url('./../../public/icons/checkbox_checked.svg');
  }
}

figure{
  margin-inline: 0;
}

a {
  text-decoration: none;
  &:hover{
    filter: brightness(1.2);
  }
}

button {
  &:hover{
    filter: brightness(1.2);
    cursor: pointer;
  }
}